# dependencies
/node_modules

# testing
/coverage

# production
/dist

# config
.eslintrc.js
rollup.config.js

# misc
.DS_Store

# debug
yarn-debug.log*
yarn-error.log*

# VS Code
*.code-workspace
.vscode
