**/node_modules
**/dist
**/.env
**/.next
**/.nuxt
**/.output
pnpm-lock.yaml
*.code-workspace
docs/**
.github/renovate.json

# Generated Svelte files
**/.svelte-kit

# Project files
CLAUDE.md
.claude/**
