name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'

jobs:
  run-ci:
    name: Run Type Check & Linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            .yarn/cache
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Run ESLint
        run: yarn lint

      - name: Run Prettier check
        run: yarn format

      - name: Run TypeScript type check
        run: yarn check-types

      - name: Run unit tests
        run: yarn test

      - name: Run build
        run: yarn build
